@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: linear-gradient(to right, #a8ff78, #78ffd6);
    font-family: 'Sarala', sans-serif;
}

body h1 {
    font-family: 'Righteous', cursive;
    padding: 10px;
    margin-top: 30px;
    font-size: 50px;
    text-align: center;
}

body p {
    padding: 40px;
    font-size: 18px;
}

body h2 {
    padding-left: 40px;
    font-size: 38px;
    text-decoration: underline;
}

.rodape-perguntas {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}

.rodape-perguntas p {
    padding-bottom: 18px;
}

.rodape-perguntas a {
    border: 0.4px solid;
    padding: 10px;
    margin: 10px;
}

.rodape-perguntas a:hover {
    color: red;
}

body .github-image {
    display: block;
    margin: 0 auto;
    max-width: 740px;
}   

.menus-github a {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    text-align: center;
}

.menus-github a:hover {
    color: red;
    transition: 0.5s;
}

.main-page a {
    display: flex;
    justify-content: flex-end;
    border: none;
    align-items: center;
}